
<div class="container">
    <form action="#" [formGroup]="editUserform" (ngSubmit)="update()" class="form">
        <h2>Editar usuário</h2>
        <mat-form-field hintLabel="Max 100 caracteres" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput 
                maxlength="100" 
                placeholder="Digite seu nome" 
                formControlName="name">
            <mat-error>
                @if(editUserform.get('name')?.hasError('required')) {
                    Nome é obrigatório
                }
            </mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Max 100 caracteres" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput 
                maxlength="100" 
                placeholder="Digite seu email" 
                formControlName="email">
            <mat-error>
                @if (editUserform.get('email')?.hasError('required')) {
                    Email é obrigatório
                }
            </mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Max 20 caracteres" appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput 
                maxlength="20" 
                minlength="11"
                type="tel"
                pattern="[0-9]*"
                placeholder="Digite seu telefone" 
                formControlName="phone">
            <mat-error>
                @if (editUserform.get('phone')?.hasError('required')) {
                    Telefone é obrigatório
                }
            </mat-error>
        </mat-form-field>
        <div class="form-button-section">
            <button type="submit" mat-flat-button class="form-button" (click)="update()" [disabled]="editUserform.invalid">Confirmar</button>
            <button type="button" mat-raised-button class="form-button" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>
